html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


/* Customizaciones */

:root {
    /*    --primary-color*/
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f9fa;
}



.items a {
    transition: all 0.3s linear;
    padding: 10px;
    font-weight: 600;
    color: #333;
    font-size: inherit;
    width: 100%;
}


.items a:hover {
    transition: all 0.3s linear;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.items {
    list-style: none;
    padding: 0;
}


.custom-btn {
    transition: all 0.3s linear;
    font-weight: 600;
}

.custom-btn:hover {
   transition: all 0.3s linear;
   transform:scale(1.05);
}

