@{
    ViewData["Titulo"] = "Editar Departamento";
    var mensajeExito = ViewBag.MensajeExito as string;
    var mensajeError = ViewBag.MensajeError as string;
}

@model ProyectoFinal3GestionEmpleado.Models.Departamento

<title>@ViewData["Titulo"]</title>

<main class="container mt-4 animate__animated animate__fadeIn">
    <h3 class="mb-4"><i class="bi bi-pencil text-primary"></i> Editar Departamento</h3>

    @if (!string.IsNullOrEmpty(mensajeExito))
    {
        <div class="alert alert-success text-center my-3 w-75 mx-auto">
            @mensajeExito
        </div>
    }
    @if (!string.IsNullOrEmpty(mensajeError))
    {
        <div class="alert alert-danger text-center my-3 w-75 mx-auto">
            @mensajeError
        </div>
    }


    <form asp-action="Editar" method="post">
        <input type="hidden" asp-for="DepartamentoId" />
        <div class="mb-3">
            <label asp-for="Nombre" class="form-label">Departamento</label>
            <input asp-for="Nombre" class="form-control" placeholder="Nombre" value="@Model.Nombre" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="d-flex gap-3 align-items-center">
            <button type="submit" class="btn btn-secondary btn-sm"><i class="bi bi-save"></i> Guardar</button>
            <a asp-action="Index" class="btn btn-danger btn-sm">Cancelar</a>
        </div>
    </form>
</main>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}