@{
    ViewData["Title"] = "Sistema Gestion Empleados";
}



<div class="animate__animated animate__fadeInUp container mt-5">
    <div class="text-center">
        <h1 class="display-4">Bienvenido al Sistema de Gestión de Empleados</h1>
        <p class="lead">Aquí podrás administrar los departamentos, cargos y empleados de tu organización.</p>
        <img src="~/imagen/empleado-de-oficina.png" alt="Logo" class="img-fluid" style="max-width: 150px; margin-top: 20px;">
</div>


